[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
#dotnet_analyzer_diagnostic.category-Style.severity = error

#dotnet_diagnostic.IDE0008.severity = none
#dotnet_diagnostic.IDE0055.severity = none
#dotnet_diagnostic.IDE0035.severity = none

# IDE0008: Usar un tipo explícito
csharp_style_var_elsewhere = false

# IDE0008: Usar un tipo explicito en lugar de var
dotnet_diagnostic.IDE0008.severity = none

dotnet_diagnostic.IDE0058.severity = none